section {
    margin-bottom: 2rem;
  }
  
  section img {
    max-width: 100%;
    height: auto;
  }
  
  @media (min-width: 768px) {
    .d-flex {
      display: flex !important;
    }
  }
  
  
  body {
    padding-top: 56px; 
  }
  
  h2 {
    font-weight: bold;
  }
  
  .card i {
    color: #ff6347; 
  }
  